fastdtw==0.3.4
jiwer==4.0.0
numpy==2.3.3
pandas==2.3.2
pysptk==1.0.1
pystoi==0.4.1
pyworld==0.3.5
PyYAML==6.0.2
scipy==1.16.1
soundfile==0.13.1
torch==2.8.0
torchaudio==2.8.0
tqdm==4.67.1
transformers==4.56.1
