descript_audio_codec==1.0.0
descript_audiotools==0.7.2
einops==0.8.1
espnet==202509
fastdtw==0.3.4
jiwer==4.0.0
librosa==0.11.0
numpy==2.3.3
pandas==2.3.3
pymcd==0.2.1
pysptk==1.0.1
pystoi==0.4.1
pyworld==0.3.5
PyYAML==6.0.2
PyYAML==6.0.3
scipy==1.16.2
soundfile==0.13.1
torch==2.8.0
torchaudio==2.8.0
torchmetrics==1.8.2
tqdm==4.67.1
transformers==4.56.1
